<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3KCOw2lAXKrS9LTw8VZrdYEWLH0yACmI</string>
	<key>GCM_SENDER_ID</key>
	<string>521390409536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isspiBd3</string>
	<key>PROJECT_ID</key>
	<string>ipssiflutter-4fee9</string>
	<key>STORAGE_BUCKET</key>
	<string>ipssiflutter-4fee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521390409536:ios:e95d0d36de0ac935f39ca5</string>
</dict>
</plist>